@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,700;1,900&display=swap');

:root{
    --DarkOrange: #efe4d6;
    --DeepPink:#db5d89;
    --primaire: #c49d00;
    --CadetBlue: #5F9EA0;

}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--DeepPink);
    background-color: var(--DarkOrange);
    
}

ul, li{
    list-style: none;  
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

.promo{
    background-color: rgb(189, 41, 22);
    text-align: center;
    color: rgb(35, 5, 203);
    padding: 0.5rem 0;
    font-style: oblique;
}

.container{
    max-width: 114rem;
    margin: 0 auto;
}

@media only screen and (max-width:1200px){
    .container{
        padding: 0 3rem;
    }
}

.navigation{
    height: 7rem;
    justify-content: space-between;
}


.d-flex{
    display: flex;
    align-items: center;
}

.icon1{
    display: none;
}

.menu .top{
    display: none;
}


.logo{
    font-weight: 700;
    font-size: 2rem;
    padding: 0rem 1.5rem;
}

.logo span{
    font-size: 3rem;
    color: var(--primaire);
}

.nav-item:not(:last-child){
    margin: 0.5rem;
}

.nav-item:first-child .nav-link{
    color: var(--primaire);
}

.nav-link{
    padding: 0 1rem;
    transition: all 300ms ease-in-out;
}

.nav-link:hover{
    color: var(--primaire);
}

.nav .icons div{
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.nav .icons div:not(:last-child){
    margin-right: 0.5rem;
}

.nav .icons div:hover{
    color: var(--primaire);
}

.nav .icons div:last-child{
    position: relative;
}

.nav .icons div span{
    position: absolute;
    top: -0.5rem;
    right: -1.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: aliceblue;
    background-color: var(--primaire);
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
}

.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px){
    .navigation{
        padding: 1rem 0;
    }

    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        background-color: aliceblue;
        height: 100%;
        width: 80%;
        max-width: 45rem;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .icon1{
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }

    .icons{
        display: none;
    }

    .logo span{
        color: var(--primaire);
    }

    .logo a{
        font-size: 1.6rem;
        font-weight: 400;
    }

    .menu .top{
        display: block;
        position: relative;
        background-color: var(--primaire);
        width: 100%;
        height: 6rem;
        color: aliceblue;
    }

    .top span{
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .top span i{
        font-size: 3rem;
    }

    .nav-list{
        flex-direction: column;
        align-items: start;
        padding: 2rem 0;
    }

    .nav-item{
        margin: 0 0 2rem 0;
    }

    .nav-link{
        padding: 0.7rem;
    }

    .menu .monter{
        left: 0;
    }
}

.banniere{
    height: calc(100vh -7rem);
    background-color: bisque;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.banniere-contenu{
    height: 100%;
}

.banniere-contenu .gauche{
        margin-top: -5rem;
}

.banniere-contenu .gauche .Sous-titre{
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.banniere-contenu .gauche .titre{
    line-height: 1.3;
    font-weight: 600;
    text-align: left;
    font-size: 4rem;
}

.banniere-contenu .gauche .couleur{
    color: var(--primaire);
}

.banniere-contenu .gauche h5{
    font-weight: 400;
    margin-top: 2rem;
}

.btn{
    display: inline-block;
    border-radius: 5rem;
    background-color: var(--primaire);
    padding: 1.3rem 5rem;
    color: aliceblue;
    font-weight: 600;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.3);
    margin-top: 4rem;
}

.banniere-contenu .droit img{
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 1080px;
}

@media only screen and (max-width: 996px){
    .banniere-contenu .gauche .titre{
        font-size: 3rem;
    }

    .btn{
        padding: 1.2rem 4rem;
    }

    .banniere-contenu .droit img{
        width: 90%;
    }
}

@media only screen and (max-width: 567px){
    .banniere{
        height: calc(90vh - 7rem);
    }

    .banniere-contenu .gauche{
        margin-top: -20rem;
    }

    .banniere-contenu .gauche .titre{
        margin-bottom: 1rem;
    }

    .banniere-contenu .droit img{
        width: 100%;
        height: 35rem;
        right: 0;
    }
}

section{
    padding: 10rem 0 0 0;
}

.service{
    border: 1px solid #ccc;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-center{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;
}

.service .icon{
    background-color: var(--primaire);
    height: 80px;
    width: 80px;
    position: relative;
    border-radius: 50%;
}

.service .icon i{
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    color: #1466ff;
    transform: translate(-50%, -50%);
}

.service h4{
    margin-bottom: 0.3rem;
}

.service .text{
    font-size: 1.5rem;
    color: #777;
}

.titre{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 600;
}

.titre h1{
    font-weight: 400;
}

.titre span{
    color: var(--primaire);
}

.centre-produit{
   
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-width: 100%;
    max-width: 100%;
    margin: 0;   
    
}

.produit{
     text-align: center;
    padding-bottom: 1rem;
    transition: all 500ms ease-in-out;
    cursor: pointer; 

    
    width: 23%;
    margin: 1rem;
    height: 350px;
    padding: 7px;
}

.produit:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}